/* Heading */
.heading {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 1em;
    margin-bottom: 2em;
}

.stopIcon {
    width: 3em;
    height: 3em;
}

.heading .title {
    font-size: 2.5em;
}

/* Content */
.timetable {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    gap: 1em;
}

.timetableTitle {
    font-size: 1.5em;
    margin-bottom: 0.5em;
    padding-bottom: 0.2em;
    border-bottom: 1px solid rgba(0, 0, 0, 0.2);
}

.departure {
    flex: 100 0 31%;
    font-size: 1.2em;
    font-weight: bold;
    text-align: center;
}

.noTimetable {
    font-size: 1.2em;
    font-style: italic;
    color: rgba(0, 0, 0, 0.66);
}

/* Buttons */
.buttons {
    display: flex;
    flex-direction: row;
    gap: 1em;
    margin-top: 2em;
}

.button {
    flex: 1;
    font-size: 1.2em;
    padding: 0.5em 1em;
    border-radius: 0.5em;
    cursor: pointer;
    text-align: center;

    background: rgba(225, 225, 225, 0);
    box-shadow: 0 8px 32px rgba(0, 0, 0, 0.15),
    inset 0 1px 0 rgba(255, 255, 255, 0.2),
    inset 0 -1px 0 rgba(0, 0, 0, 0.05);
    backdrop-filter: blur(1ch);
    border: 1px solid rgba(255, 255, 255, 0.5);
    transition: background 0.2s, box-shadow 0.2s;
}

@media (max-width: 549px) {
    .buttons {
        flex-direction: column;
    }
}