.button {
    display: flex;
    width: 3.3em;
    height: 3.3em;
    justify-content: center;
    align-items: center;
    cursor: pointer;

    border-radius: 4em;
    background: rgba(225, 225, 225, 0.1);
    box-shadow: 0 8px 32px rgba(0, 0, 0, 0.15),
    inset 0 1px 0 rgba(255, 255, 255, 0.6),
    inset 0 -1px 0 rgba(0, 0, 0, 0.05);
    backdrop-filter: blur(20px) saturate(200%);
    border: 1px solid rgba(255, 255, 255, 0.5);
    transition: background 0.2s, box-shadow 0.2s;
}

.button > svg {
    color: #202020FF;
    transition: color 0.2s, fill 0.2s;
}

.button:hover {
    background: rgba(225, 225, 225, 0.4);
}

.locate,
.locateFixed {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.button.searching .locateFixed {
    animation: searchingLocation 1s infinite ease-in-out;
}

@keyframes searchingLocation {
    0% {
        opacity: 1;
    }
    50% {
        opacity: 0.1;
    }
    100% {
        opacity: 1;
    }
}