.menu {
    position: absolute;
    /*width: 330px;*/
    top: 25px;
    left: 25px;
    padding: 25px;
    background: rgba(0, 0, 0, 0.8);
    box-shadow: 0 4px 6px rgb(0, 0, 0);
    backdrop-filter: blur(5px);
    color: white;
    z-index: 999;
    border-radius: 30px;
}

.menuHeader {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 15px;
}

.menuTitle {
    display: block;
    width: 100%;
    text-align: center;
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 10px;
}

.menuTitle::after {
    content: '';
    display: block;
    opacity: .5;
    width: 50%;
    height: 2px;
    background: white;
    margin-left: 25%;
    margin-top: 15px;
}

.menuSelection {
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 10px;
    margin-bottom: 10px;
}

.selection {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background: rgb(0, 0, 0);
    box-shadow: 0 4px 10px rgb(0, 0, 0);
    border-radius: 37px;
    padding: 12px 12px 12px 28px;
    transition: box-shadow 0.2s;
}

.selection.active {
    box-shadow: 0 0 8px #007AFF,
    0 0 12px #0A84FF,
    0 0 16px #5AC8FA;
    animation: glow 2s infinite alternate;
    animation-delay: 0.4s;
}

.selectionLabel {
    font-size: 16px;
    margin-right: 20px;
}

.selectionLabel > span {
    font-size: 12px;
}

.selectionLabel > h4 {
    margin-top: 2px;
}

.selectionIcon {
    display: flex;
    position: relative;
    justify-content: center;
    align-items: center;
    width: 35px;
    height: 35px;
    background: rgb(49, 49, 49);
    border-radius: 25px;
    cursor: pointer;
    user-select: none;
    transition: background 0.2s, box-shadow 0.2s;
    overflow: hidden;
}

.selectionIcon:hover,
.selection.active > .selectionIcon {
    background: rgb(89, 89, 89);
    box-shadow: 0 3px 10px rgb(49, 49, 49);
}

.selection:not(.active) > .selectionIcon:hover::before {
    content: '';
    position: absolute;
    top: -8px;
    left: -8px;
    width: 5px;
    height: 125%;
    opacity: .69;
    transform: rotate(45deg);
    animation: selectionIconShine 5s infinite;
    background: linear-gradient(45deg, rgb(121, 121, 121), rgb(89, 89, 89), rgb(232, 232, 232));
    box-shadow: 0 3px 5px rgb(121, 121, 121);
    filter: blur(2px);
}

.swapContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 5px;
}

.swapIcon {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 35px;
    height: 35px;
    background: rgb(89, 89, 89);
    border-radius: 25px;
    cursor: pointer;
    user-select: none;
    transition: background 0.2s, box-shadow 0.2s;
    overflow: hidden;
}

.swapIcon:hover {
    background: rgb(121, 121, 121);
    box-shadow: 0 3px 10px rgb(89, 89, 89);
}

.nearestStop {
    text-align: right;
}

.nearestStopTitle {
    display: block;
    font-size: 13px;
    margin-bottom: 5px;
}

.nearestStopName {
    font-size: 15px;
}

.menuSelect {
    display: none;
    padding: 5px 10px;
    background: rgba(0, 0, 0, 0.8);
    color: green;
    border-radius: 10px;
    outline: none
}

.map {
    width: 100%;
    height: 100vh;
}

@keyframes glow {
    0% {
        box-shadow: 0 0 8px #007AFF,
        0 0 12px #0A84FF,
        0 0 16px #5AC8FA;
    }
    25% {
        box-shadow: 0 0 10px #0A84FF,
        0 0 14px #007AFF,
        0 0 18px #5AC8FA;
    }
    50% {
        box-shadow: 0 0 12px #5AC8FA,
        0 0 16px #007AFF,
        0 0 20px #0A84FF;
    }
    75% {
        box-shadow: 0 0 10px #0A84FF,
        0 0 14px #5AC8FA,
        0 0 18px #007AFF;
    }
    100% {
        box-shadow: 0 0 8px #007AFF,
        0 0 12px #0A84FF,
        0 0 16px #5AC8FA;
    }
}

@keyframes selectionIconShine {
    0% {
        top: -8px;
        left: -8px;
    }

    15% {
        top: calc(50% - 8px);
        left: calc(50% + 24px);
    }

    30%, 100% {
        top: calc(100% + 8px);
        left: calc(100% + 8px);
    }
}